@charset "utf-8";
/* Style Reset */

*{
  padding: 0;
  margin: 0;
}

header, footer, nav, menu, article, aside, section, details, figcaption, figure{
  display: block;
}

ul, ol {
	list-style: none;
}

table {
  border-collapse: collapse;
}