@charset "utf-8";
/* Global Style */

:root {
	font-family: "源ノ明朝 JP Medium", "はれのそら明朝", "IPA 明朝", serif;
}

@media screen and (max-width: 599px) {
	:root {
		font-size: 14px;
	}
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
	:root {
		font-size: 16px;
	}
}

@media screen and (min-width: 1025px) {
	:root {
		font-size: 18px;
	}
}

body {
	width: 100vw;
	height: 100vh;
}


/* Header */
header {
	display: flex;
	align-items: center;
	width: 100%;
}

header a {
	cursor: pointer;
}

#top-icon {
	display: block;
	padding: 8px 8px 8px 16px;
	text-align: center;
}

#top-icon div {
	width: 67px;
	height: 60px;
	background-image: url("../images/logo.svg");
	background-repeat: no-repeat;
}

#back-to-prev {
	display: block;
	width: 86px;
	height: 76px;
	line-height: 76px;
	margin-left: auto;
	color: white;
	text-align: center;
	font-size: 40px;
}

#hamburger {
	display: block;
	width: 86px;
	height: 76px;
	line-height: 76px;
	color: white;
	text-align: center;
	font-size: 30px;
}

#back-to-prev:hover, #hamburger:hover {
	transition: background-color 0.1s;
	background-color: rgba(255, 255, 255, 0.4);
}