@charset "utf-8";
/* Global Style */

:root {
	font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 599px) {
	:root {
		font-size: 14px;
	}
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
	:root {
		font-size: 16px;
	}
}

@media screen and (min-width: 1025px) {
	:root {
		font-size: 18px;
	}
}

body {
	width: 100vw;
	height: 100vh;
}

.home {
	background-image: url("../images/background-home.png");
	background-position: center;
}

.wrap {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}


/* Animation Element */
#anime-ele {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1;
}


/* Header */
header {
	display: flex;
	align-items: center;
	width: 100%;
	position: fixed;
	top: 0;
}

header a {
	cursor: pointer;
}

#top-icon {
	display: block;
	padding: 8px 8px 8px 16px;
	text-align: center;
}

#top-icon div {
	width: 67px;
	height: 60px;
	background-image: url("../images/logo.svg");
	background-repeat: no-repeat;
}

#back-to-prev {
	display: block;
	width: 86px;
	height: 76px;
	line-height: 76px;
	margin-left: auto;
	color: white;
	text-align: center;
	font-size: 40px;
	opacity: 0;
	transition: opacity 0.5s, background-color 0.3s, filter 0.5s;
}

.home #back-to-prev {
	display: none;
}

#hamburger {
	display: block;
	width: 86px;
	height: 76px;
	line-height: 76px;
	color: white;
	text-align: center;
	font-size: 30px;
	opacity: 0;
	transition: opacity 0.5s, background-color 0.3s;
}

.home #hamburger {
	margin-left: auto;
}

header a svg {
	filter: drop-shadow(2px 2px 1px white);
}

#back-to-prev:hover, #hamburger:hover {
	background-color: rgba(255, 255, 255, 0.4);
}


/* Navigation */
.navigation {
	display: none;
	position: fixed;
	z-index: 3;
	right: 5%;
	margin-top: 12%;
}

.navigation ul li:not(:last-child) {
	margin-bottom: 42px;
}

.navigation ul li a {
	display: block;
	font-size: 2em;
	line-height: 2em;
	color: white;
	cursor: pointer;
	transition: color 0.3s;
}

#nav-home:hover {
	color: #FFE352
}

#nav-profile:hover {
	color: #FF882C;
}

#nav-content:hover {
	color: #FF4D50;
}

#nav-contact:hover {
	color: #70EFFF;
}


/* Main Content */
main {
	width: 100%;
	height: 100%;
}

main section {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}


/* Responsive */
@media screen and (max-width: 599px) {
	/* Header */
	#top-icon div {
		width: 45px;
		height: 40px;
	}
	
	#back-to-prev, #hamburger {
		width: 66px;
		height: 56px;
		line-height: 56px;
		font-size: 28px;
	}
	
	/* Main Content */
	main section {
		z-index: 2;
	}
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
	/* Main Content */
	main section {
		z-index: 2;
	}
}

@media screen and (min-width: 1025px) {
	
}

@media screen and (min-width: 1573px) {
	/* Header */
	#hamburger {
		display: none;
	}
}